body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

hr {
  border-top: 5px dotted #eaf6f6;
  width: 50px;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 6rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  margin: 0;
}

.top-container {
  position: relative;
  background-color: #eaf6f6;
  padding-top: 100px;
}

.middle-container {
}

.profile {
  padding: 50px;
}

.skills {
  padding: 50px;
}

.bottom-container {
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.profile {
  text-align: center;
}

.profileimage {
  margin-top: 50px;
  width: 15%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-image {
  width: 25%;
  float: left;
  padding: 0 30px 0 0;
}

.chilly-image {
  width: 25%;
  float: right;
  padding: 0 0 0 30px;
}
