body {
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.top-container {
  background-color: #01c5c4;
}

.middle-container {
  background-color: red;
}

.bottom-container {
  background-color: skyblue;
}
